<div class="animated fadeIn">
  <h2>Add user</h2>
  <h2>Update user</h2>
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="firstName">First Name</label>
      <input type="text" class="form-control" formControlName="firstName" id="firstName" placeholder="First Name">
    </div>
    <div class="form-group">
      <label for="lastName">Last Name</label>
      <input type="text" class="form-control" formControlName="lastName" id="lastName" placeholder="Last Name">
    </div>
    <div class="form-group">
      <label for="dateOfBirth">Date of birth</label>
      <input type="date" class="form-control" formControlName="dateOfBirth" id="dateOfBirth"
        placeholder="Date of Birth">
    </div>
    <div class="form-group">
      <label for="email">Email address</label>
      <input type="email" class="form-control" formControlName="email" id="email" placeholder="name@example.com">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" formControlName="password" id="password" placeholder="password">
    </div>
    <div class="form-group">
      <label for="hobbies">Hobbies</label>
      <textarea class="form-control" id="hobbies" rows="3" formControlName="hobbies"></textarea>
    </div>
    <div>
      <button type="button" type="submit" class="btn btn-primary px-4">Save</button>
    </div>
  </form>
</div>